@import "variables.scss";

.product-detail {
  width: 100%;
  max-width: $max-width;
  margin: auto;

  &__title {
    font-size: $font-size-large * 2;
    text-align: left;
    margin: 0 0 calc($spacing / 2) 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__image-container,
  &__content {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
  }

  &__image {
    width: 100%;
  }

  &__description {
    margin-top: 0;
    margin-bottom: $spacing;
  }

  @media (min-width: $medium-screen) {
    &__title {
      font-size: $font-size-large * 2;
      margin: 0 0 0 calc($spacing / 2);
      padding: 0;
      width: 100%;
      text-align: left;

      &::before {
        content: "";
        display: inline-block;
        width: 50%;
        height: 100%;
      }
    }

    &__inner {
      flex-direction: row;
    }

    &__content {
      margin-left: $spacing;
    }

    &__image-container,
    &__content {
      width: 50%;
      margin-bottom: 0;
    }
  }
}
