$font-size-base: 21px;
$font-size-large: 24px;
$font-family-one: "Roboto", serif;
$color-one: #363636;
$color-two: #1f1f1f;
$color-three: #a3a3a3;
$color-four: #00cc99;
$spacing: 20px;
$x-small-screen: 400px;
$small-screen: 768px;
$medium-screen: 1024px;
$large-screen: 1230px;
