$font-size-base: 16px;
$font-family-one: Georgia, serif;
$font-family-two: "Denk One", sans-serif;
$color-one: #fff;
$color-two: #646b78;
$color-three: #4f5765;
$color-four: #444c5b;
$color-five: #424a5a;
$color-six: #424a59;
$color-seven: #252a32;
$color-eight: #ed433a;
$color-nine: #000;
$spacing: 20px;
